<launch>

<!--    --><!-- HSRB -->
<!--   <param name="robot_description" textfile="$(find pycram)/resources/hsrb.urdf"/> -->

  <arg name="map_file" default="$(find pycram)/resources/maps/robocup_v3.yaml"/>
  <arg name="loc_of_urdf_1" default="iai_kitchen"/>
  <arg name="loc_of_urdf_2" default="kitchen_description"/>
  <arg name="tf_prefix" default="iai_kitchen"/>
  <arg name="joint_states_prefix" default="iai_kitchen"/>


  Map server
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <param name="kitchen_description" textfile="$(find pycram)/resources/robocup1234.urdf"/>


<!--   <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" -->
<!--         name="joint_state_publisher_gui" output="screen"> -->
<!--     <remap from="robot_description" to="$(arg loc_of_urdf_1)"/> -->
<!--     <param name="rate" value="25"/> -->
<!--     <param name="use_gui" value="True"/> -->
<!--     <remap from="/joint_states" to="/$(arg joint_states_prefix)/joint_states" /> -->
<!--     <rosparam param="source_list"> -->
<!--       - /kitchen/cram_joint_states -->
<!--     </rosparam> -->
<!--   </node> -->

  <node pkg="tf" type="static_transform_publisher" name="environment_link_broadcaster"
    args="0 0 0 0 0 0 /map /$(arg tf_prefix)/urdf_main 25">
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher"
    name="environment_state_publisher" output="screen">
    <param name="tf_prefix" value="/$(arg tf_prefix)"/>
    <param name="publish_frequency" value="2"/>
    <remap from="robot_description" to="$(arg loc_of_urdf_1)" />
    <remap from="/joint_states" to="/$(arg joint_states_prefix)/joint_states" />
  </node>



</launch>
